apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: trading
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
        prometheus.io/path: "/metrics"
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command: ['sh', '-c', 'until nc -z auth-postgres 5432; do echo waiting for postgres; sleep 2; done']
      containers:
        - name: auth-service
          image: tobantal/auth-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: AUTH_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: AUTH_DB_HOST
            - name: AUTH_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: AUTH_DB_PORT
            - name: AUTH_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: AUTH_DB_NAME
            - name: AUTH_DB_USER
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: AUTH_DB_USER
            - name: AUTH_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: AUTH_DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: trading-secrets
                  key: JWT_SECRET
          readinessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: trading
spec:
  selector:
    app: auth-service
  ports:
    - port: 8081
      targetPort: 8081
