# k8s/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: trading

resources:
  - namespace.yaml
  - secret.yaml
  - rabbitmq.yaml
  - auth-postgres.yaml
  - auth-service.yaml
  - broker-postgres.yaml
  - broker-service.yaml
  - trading-postgres.yaml
  - trading-service.yaml
  - ingress.yaml
  - trading-ui.yaml
